NET	"MAIN_CLK"		LOC = P50;
NET	"MAIN_CLK"		IOSTANDARD = LVTTL;
NET	"UART_OUT1"		LOC = p82;   //J9
NET	"UART_IN1"		LOC = p83;
//NET	"UART_OUT2"		LOC = p80;   //J11
//NET	"UART_IN2"		LOC = p81;
//NET	"UART_OUT3"		LOC = p78;  //J10
//NET	"UART_IN3"		LOC = p79;


//NET	"PWR_SW"		LOC = P32;
NET	"FAN_RPM[0]"	LOC = P8;
NET	"FAN_RPM[1]"	LOC = P7;
NET	"FAN_RPM[2]"	LOC = P10;
NET	"FAN_FRE[0]"	LOC = P9;
NET	"FAN_FRE[1]"	LOC = P12;
NET	"FAN_FRE[2]"	LOC = P11;
//NET	"FAN_FRE[3]"		LOC = P27;
//NET	"FAN_FRE[4]"		LOC = P26;
//NET	"FAN_FRE[5]"		LOC = P30;
NET	"FAULT_LED"		LOC = P99;
//NET	"FW_LED1"		LOC = P102;
//NET	"FW_LED2"		LOC = P101;
//NET	"TEST_LED1"		LOC = P98;
//NET	"TEST_LED2"		LOC = P97;
//NET	"TEST_LED3"		LOC = P100;

NET	"FAN_CTRL"		LOC = P32;
NET	"SMPS_CTRL1"		LOC = P48;
NET	"SMPS_CTRL2"		LOC = P45;
NET	"SMPS_CTRL3"		LOC = P46; 
NET	"SMPS_CTRL4"		LOC = P43;

NET	"VSENSE_SDA"	LOC = P5	|	PULLUP;
NET	"VSENSE_SCL"	LOC = P6	|	PULLUP;

